hr.style18 {
    height: 0px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style18:before {
    display: block;
    content: "";
    height: 0px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.borrow-invoice {
    padding-bottom: 10px;
}

<!--
-->
/*promotion*/
<!--
-->
.form-group .pro{
    display: none;
}

.form-group .pro + .btn-group > label span {
    width: 30px;
}

.form-group .pro + .btn-group > label span:first-child {
    display: none;
}

.form-group .pro + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group .pro:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.form-group .pro:checked + .btn-group > label span:last-child {
    display: none;
}
/*

*/

