<template name="MoneyTransfer_sidebarMenu">
    <li class="{{isActiveRoute name='moneyTransfer.home'}}">
        <a href="{{pathFor 'moneyTransfer.home'}}">
            <i class="fa fa-home"></i> <span>Home</span>
        </a>
    </li>
    <!--Data-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'MoneyTransfer'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-database"></i>
                <span>Data</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li class="{{isActiveRoute name='moneyTransfer.transfer'}}">
                    <a href="{{pathFor 'moneyTransfer.transfer'}}">
                        <i class="fa fa-sun-o"></i> <span>Transfer</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.exchangeTransaction'}}">
                    <a href="{{pathFor 'moneyTransfer.exchangeTransaction'}}">
                        <i class="fa fa-sun-o"></i> <span>Exchange Transaction</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.customer'}}">
                    <a href="{{pathFor 'moneyTransfer.customer'}}">
                        <i class="fa fa-sun-o"></i> <span>Customer</span>
                    </a>
                </li>
            </ul>
        </li>
    {{/if}}

    <!--Report-->
    {{#if isInRole 'reporter' 'MoneyTransfer'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-file"></i>
                <span>Report</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li class="{{isActiveRoute name='moneyTransfer.transferTransactionReport'}}">
                    <a href="{{pathFor 'moneyTransfer.transferTransactionReport'}}">
                        <i class="fa fa-sun-o"></i> <span>Transfer Transaction</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.transferSummaryReport'}}">
                    <a href="{{pathFor 'moneyTransfer.transferSummaryReport'}}">
                        <i class="fa fa-sun-o"></i> <span>Transfer Summary</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.transferDetailReport'}}">
                    <a href="{{pathFor 'moneyTransfer.transferDetailReport'}}">
                        <i class="fa fa-sun-o"></i> <span>Transfer Detail</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.depositWithdrawalReport'}}">
                    <a href="{{pathFor 'moneyTransfer.depositWithdrawalReport'}}">
                        <i class="fa fa-sun-o"></i> <span>Deposit Withdrawal</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.transferBalanceOutstandingReport'}}">
                    <a href="{{pathFor 'moneyTransfer.transferBalanceOutstandingReport'}}">
                        <i class="fa fa-sun-o"></i> <span>Balance Outstanding</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.transferBalanceReport'}}">
                    <a href="{{pathFor 'moneyTransfer.transferBalanceReport'}}">
                        <i class="fa fa-sun-o"></i> <span>Balance</span>
                    </a>
                </li>
            </ul>
        </li>

    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'MoneyTransfer'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cog"></i>
                <span>Setting</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li class="{{isActiveRoute name='core.exchange'}}">
                    <a href="{{pathFor 'core.exchange'}}">
                        <i class="fa fa-sun-o"></i> <span>{{_ "core.sidebarMenu.exchange"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.fee'}}">
                    <a href="{{pathFor 'moneyTransfer.fee'}}">
                        <i class="fa fa-sun-o"></i> <span>Product Fee</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.product'}}">
                    <a href="{{pathFor 'moneyTransfer.product'}}">
                        <i class="fa fa-sun-o"></i> <span>Product</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.exchangeRate'}}">
                    <a href="{{pathFor 'moneyTransfer.exchangeRate'}}">
                        <i class="fa fa-sun-o"></i> <span>Exchange Rate</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moneyTransfer.provider'}}">
                    <a href="{{pathFor 'moneyTransfer.provider'}}">
                        <i class="fa fa-sun-o"></i> <span>Provider</span>
                    </a>
                </li>
            </ul>
        </li>

    {{/if}}

    <!--Borrowing-->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-file"></i>
            <span>Borrowing</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="{{isActiveRoute name='moneyTransfer.borrowing'}}">
                <a href="{{pathFor 'moneyTransfer.borrowing'}}">
                    <i class="fa fa-sun-o"></i> <span>Borrowing</span>
                </a>
            </li>
        </ul>
    </li>

</template>
