<template name="MoneyTransfer_sidebarMenu">
    <li class="{{isActiveRoute name='moneyTransfer.home'}}">
        <a href="{{pathFor 'moneyTransfer.home'}}">
            <i class="fa fa-home"></i> <span>{{_ "moneyTransfer.sidebarMenu.home"}}</span>
        </a>
    </li>

    <!--Data-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'MoneyTransfer'}}
        <li class="header"><i class="fa fa-database"></i> DATA</li>
        <li class="{{isActiveRoute name='moneyTransfer.cashIn'}}">
            <a href="{{pathFor 'moneyTransfer.cashIn'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "moneyTransfer.sidebarMenu.cashIn"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='moneyTransfer.customer'}}">
            <a href="{{pathFor 'moneyTransfer.customer'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "moneyTransfer.sidebarMenu.customer"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='moneyTransfer.order'}}">
            <a href="{{pathFor 'moneyTransfer.order'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "moneyTransfer.sidebarMenu.order"}}</span>
            </a>
        </li>
      <li class="{{isActiveRoute name='moneyTransfer.sender'}}">
        <a href="{{pathFor 'moneyTransfer.sender'}}">
          <i class="fa fa-user"></i> <span>{{_ "moneyTransfer.sidebarMenu.sender"}}</span>
        </a>
      </li>
      <li class="{{isActiveRoute name='moneyTransfer.receiver'}}">
        <a href="{{pathFor 'moneyTransfer.receiver'}}">
          <i class="fa fa-user"></i> <span>{{_ "moneyTransfer.sidebarMenu.receiver"}}</span>
        </a>
      </li>
      <li class="{{isActiveRoute name='moneyTransfer.thaiService'}}">
        <a href="{{pathFor 'moneyTransfer.thaiService'}}">
          <i class="fa fa-user"></i> <span>{{_ "moneyTransfer.sidebarMenu.thaiService"}}</span>
        </a>
      </li>
      <li class="{{isActiveRoute name='moneyTransfer.thaiBank'}}">
        <a href="{{pathFor 'moneyTransfer.thaiBank'}}">
          <i class="fa fa-user"></i> <span>{{_ "moneyTransfer.sidebarMenu.thaiBank"}}</span>
        </a>
      </li>
      <li class="{{isActiveRoute name='moneyTransfer.fromThai'}}">
        <a href="{{pathFor 'moneyTransfer.fromThai'}}">
          <i class="fa fa-user"></i> <span>{{_ "moneyTransfer.sidebarMenu.fromThai"}}</span>
        </a>
      </li>
      <li class="{{isActiveRoute name='moneyTransfer.fromKhmer'}}">
        <a href="{{pathFor 'moneyTransfer.fromKhmer'}}">
          <i class="fa fa-user"></i> <span>{{_ "moneyTransfer.sidebarMenu.fromKhmer"}}</span>
        </a>
      </li>
    {{/if}}

    <!--Report-->
    {{#if isInRole 'reporter' 'MoneyTransfer'}}
        <li class="header"><i class="fa fa-file-o"></i> REPORT</li>
        <li class="{{isActiveRoute name='moneyTransfer.customerReport'}}">
            <a href="{{pathFor 'moneyTransfer.customerReport'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "moneyTransfer.sidebarMenu.customer"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='moneyTransfer.orderReport'}}">
            <a href="{{pathFor 'moneyTransfer.orderReport'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "moneyTransfer.sidebarMenu.order"}}</span>
            </a>
        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'MoneyTransfer'}}
        <li class="header"><i class="fa fa-cogs"></i> SETTING</li>
        <li class="{{isActiveRoute name='core.exchange'}}">
            <a href="{{pathFor 'core.exchange'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "core.sidebarMenu.exchange"}}</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='moneyTransfer.item'}}">
            <a href="{{pathFor 'moneyTransfer.item'}}">
                <i class="fa fa-circle-o"></i> <span>{{_ "moneyTransfer.sidebarMenu.item"}}</span>
            </a>
        </li>
    {{/if}}
</template>
